<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:saude="http://tcc.saude"
	layout:decorate="~{layout/home}">
<head>
<title>Cadastro Triagem</title>
</head>
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
			<div class="col-sm-10">
				<h1>Cadastro de Triagem</h1>
			</div>
			
			<div class="col-sm-2">
				<div class="aw-page-header-controls">
					<a class="btn  btn-default" th:href="@{/triagens}">
						<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
					</a>
				</div>
			</div>
			</div>
		</div>
	</div>
       
       
	<div class="container-fluid">         	
		<form method="POST"  th:action="@{/triagens/novo}">
			<div class="row">
				<div class="form-group  col-sm-12">
					<label class="control-label" for="paciente">Paciente</label>
					<div class="input-group">
						<input id="paciente" type="text" readonly="readonly" class="form-control" placeholder="Clique na lupa para pesquisar o Paciente"/>
						<input id="idPaciente" type="hidden"/>
						<span class="input-group-btn">
						  <button class="btn  btn-default  js-tooltip" type="button" title="Pesquisa avançada" data-toggle="modal" data-target="#pesquisaRapidaPacientes">
						  	<i class="glyphicon  glyphicon-search"></i>
						  </button>
						</span>
				    </div>
				</div>                	
			</div>
                
			<div class="row">
           		<div class="form-group  col-sm-12">
					<label class="control-label" for="medico">Médico</label>
					<div class="input-group">
      					<input id="medico" type="text" readonly="readonly" class="form-control" placeholder="Clique na lupa para pesquisar o Médico"/>
						<input id="idMedico" type="hidden"/>      					
      					<span class="input-group-btn">
					        <button class="btn  btn-default  js-tooltip" type="button" title="Pesquisa avançada" data-toggle="modal" data-target="#pesquisaRapidaMedicos">
					        	<i class="glyphicon  glyphicon-search"></i>
					        </button>
    					</span>
   					</div>    
				</div>                	
			</div>
			
			<div class="row">
				<div class="form-group  col-lg-12">
					<ul class="nav nav-tabs  js-aba-triagem">
					  <li role="presentation" class="active"><a href="#primeiraEtapa">Primeira Etapa</a></li>
					  <li role="presentation"><a href="#segundaEtapa">Segunda Etapa</a></li>
					</ul>
				</div>
			</div>
			
			<div class="tab-content col-sm-12">
				<div class="tab-pane active" id="primeiraEtapa">
					<div class="row">					
					<div class="table-responsive bw-tabela-simples">		
						<div class="col-sm-6">	
		        			<table class="table table-bordered">
								<thead>
									<tr>
										<th class="sd-triagem-etapa col-sm-2"> # </th>            				            				
										<th class="">Sintomas </th>
									</tr>
								</thead>								
								<tbody>						
									<tr>
										<td class="sd-triagem-etapa ">1</td>
										<td>											
											<input type="checkbox"> <label>Sonolência excessiva</label>
										</td>
									</tr>
									<tr>
										<td class="sd-triagem-etapa">2</td>
										<td>											
											<input type="checkbox"> <label>Dores de cabeça</label>
										</td>
									</tr>
									<tr>
										<td class="sd-triagem-etapa ">3</td>
										<td>											
											<input type="checkbox"> <label>Dores nas articulações</label>
										</td>
									</tr>
									<tr>
										<td class="sd-triagem-etapa">4</td>
										<td>											
											<input type="checkbox"> <label>Calafrios pelo corpo</label>
										</td>
									</tr>
									<tr>
										<td class="sd-triagem-etapa ">5</td>
										<td>											
											<input type="checkbox"> <label>Dores Renais</label>
										</td>
									</tr>																						
								</tbody>
							</table>  
						</div>
						
						<div class="col-sm-6">	
		        			<table class="table table-bordered">
								<thead>
									<tr>
										<th class="sd-triagem-etapa col-sm-2"> # </th>            				            				
										<th class="">Sintomas </th>
									</tr>
								</thead>								
								<tbody>	
									<tr>
										<td class="sd-triagem-etapa ">6</td>
										<td>											
											<input type="checkbox"> <label>Problema com cordenação motora</label>
										</td>
									</tr>					
									<tr>
										<td class="sd-triagem-etapa">7</td>
										<td>											
											<input type="checkbox"> <label>Possui hepatite</label>
										</td>
									</tr>
									<tr>
										<td class="sd-triagem-etapa ">8</td>
										<td>											
											<input type="checkbox"> <label>Possui diabetes</label>
										</td>
									</tr>
									<tr>
										<td class="sd-triagem-etapa ">9</td>
										<td>											
											<input type="checkbox"> <label>Hipertenso</label>
										</td>
									</tr>
									<tr>
										<td class="sd-triagem-etapa ">10</td>
										<td>											
											<input type="checkbox"> <label>Possui deficiência</label>
										</td>
									</tr>											
								</tbody>
							</table>
						</div>
					</div>
					</div>
					
				</div>
				<div class="tab-pane" id="segundaEtapa">
					<table class="table table-bordered">
							<thead>
								<tr>
									<th class="table-triagem-col">
										<label class="sd-margin "> # </label>				            		
			            			</th>
									<th class="">Sintoma</th>
									<th class="">Descrição</th>
								</tr>
							</thead>
							
							<tbody>
								<tr>
									<td class="sd-margin ">1</td>
									<td>
										<div class="">
											<input type="checkbox"> 
											<label>Febre</label>
										</div>
									</td>
									<td><input type="text" class="form-control"></td>
								</tr>
								<tr>
									<td class="sd-margin ">2</td>
									<td>
										<div class="">
											<input type="checkbox"> 
											<label>Problemas Respiratórios</label>
										</div>
									</td>
									<td><input type="text" class="form-control"></td>
								</tr>
								<tr>
									<td class="sd-margin ">3</td>
									<td>
										<div class="">
											<input type="checkbox"> 
											<label>Problemas cardíacos</label>
										</div>
									</td>
									<td><input type="text" class="form-control"></td>
								</tr>
								<tr>
									<td class="sd-margin ">4</td>
									<td>
										<div class="">
											<input type="checkbox"> 
											<label>Alguma doença sexualmente transmissível</label>
										</div>
									</td>
									<td><input type="text" class="form-control"></td>
								</tr>
								<tr>
									<td class="sd-margin ">5</td>
									<td>
										<div class="">
											<input type="checkbox"> 
											<label>Histórico de Cancêr</label>
										</div>
									</td>
									<td><input type="text" class="form-control"></td>
								</tr>
								<tr>
									<td class="sd-margin ">6</td>
									<td>
										<div class="">
											<input type="checkbox"> 
											<label>Possui alergia</label>
										</div>
									</td>
									<td><input type="text" class="form-control"></td>
								</tr>
								<tr>
									<td class="sd-margin ">7</td>
									<td>
										<div class="">
											<input type="checkbox"> 
											<label>Faz uso de medicamentos</label>
										</div>
									</td>
									<td><input type="text" class="form-control"></td>
								</tr>
								<tr>
									<td class="sd-margin ">8</td>
									<td>
										<div class="">
											<input type="checkbox"> 
											<label>Algum outro sintoma</label>
										</div>
									</td>
									<td><input type="text" class="form-control"></td>
								</tr>
								
												
							</tbody>
						</table>  
				</div>				
			</div>           
                  
                <button type="submit" class="btn  btn-primary">Salvar</button>
		</form>
	</div>

	<th:block th:replace="pesquisas/rapida/pesquisa-rapida-pacientes :: pesquisaRapidaPacientes"></th:block>
	<th:block th:replace="pesquisas/rapida/pesquisa-rapida-medicos :: pesquisaRapidaMedicos"></th:block>
</section>
<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
	<script th:src="@{/javascripts/paciente-pesquisa-rapida.js}"></script>
	<script th:src="@{/javascripts/medico-pesquisa-rapida.js}"></script>
		<script>
	$(function() {
		$('.js-aba-triagem a').click(function (e) {
			e.preventDefault();
			$(this).tab('show');
		});
	});
	</script>
	
</th:block>
</html>


