<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:saude="http://tcc.saude"
	layout:decorate="~{layout/home}">
<head>
<title>Cadastro Triagem</title>
</head>
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
			<div class="col-sm-10">
				<h1>Cadastro de Triagem</h1>
			</div>
			
			<div class="col-sm-2">
				<div class="aw-page-header-controls">
					<a class="btn  btn-default" th:href="@{/triagens}">
						<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
					</a>
				</div>
			</div>
			</div>
		</div>
	</div>
       
       
	<div class="container-fluid">         	
		<form method="POST"  th:action="@{/triagens/novo}">
			<div class="row">
				<div class="form-group  col-sm-12">
					<label class="control-label" for="paciente">Paciente</label>
					<div class="input-group">
						<input id="paciente" type="text" readonly="readonly" class="form-control" placeholder="Clique na lupa para pesquisar o Paciente"/>
						<input id="idPaciente" type="hidden"/>
						<span class="input-group-btn">
						  <button class="btn  btn-default  js-tooltip" type="button" title="Pesquisa avançada" data-toggle="modal" data-target="#pesquisaRapidaPacientes">
						  	<i class="glyphicon  glyphicon-search"></i>
						  </button>
						</span>
				    </div>
				</div>                	
			</div>
                
			<div class="row">
           		<div class="form-group  col-sm-12">
					<label class="control-label" for="medico">Médico</label>
					<div class="input-group">
      					<input id="medico" type="text" readonly="readonly" class="form-control" placeholder="Clique na lupa para pesquisar o Médico"/>
						<input id="idMedico" type="hidden"/>      					
      					<span class="input-group-btn">
					        <button class="btn  btn-default  js-tooltip" type="button" title="Pesquisa avançada" data-toggle="modal" data-target="#pesquisaRapidaMedicos">
					        	<i class="glyphicon  glyphicon-search"></i>
					        </button>
    					</span>
   					</div>    
				</div>                	
			</div>
                
                
  
                <button type="submit" class="btn  btn-primary">Salvar</button>
		</form>
	</div>

	<th:block th:replace="pesquisas/rapida/pesquisa-rapida-pacientes :: pesquisaRapidaPacientes"></th:block>
	<th:block th:replace="pesquisas/rapida/pesquisa-rapida-medicos :: pesquisaRapidaMedicos"></th:block>
</section>
<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
	<script th:src="@{/javascripts/paciente-pesquisa-rapida.js}"></script>
	<script th:src="@{/javascripts/medico-pesquisa-rapida.js}"></script>
	
</th:block>
</html>


