<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:saude="http://tcc.saude"
	layout:decorate="~{layout/layout-padrao}"
	xmlns:data="http://www.thymeleaf.org/extras/data">
	
<head>
<title>Consulta</title>
</head>
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10">
					<h1 th:if="${consulta.novo}">Cadastro da Consulta</h1>
					<h1 th:unless="${consulta.novo}"> Consulta Detalhada</h1>
				</div>
				
				<div class="col-sm-2">
					<div class="aw-page-header-controls" th:unless="${consulta.novo}">
						<a class="btn  btn-default" th:href="@{/consultas}">
							<i class="glyphicon glyphicon-share-alt"></i> <span class="hidden-xs  hidden-sm">Voltar</span>
						</a>
					</div>
					<div class="aw-page-header-controls" th:if="${consulta.novo}">
						<a class="btn  btn-default" th:href="@{/consultas}">
							<i class="glyphicon glyphicon-search"></i> <span class="hidden-xs  hidden-sm">Pesquisar</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
       
       
	<div class="container-fluid">    
	        <form method="POST"  th:object="${consulta}"
	        	 th:action="${consulta.novo} ? @{/consultas/novo} : @{/consultas/{id}(id=${consulta.id})}">
		     <saude:message/>	
		     
     		     <input type="hidden" th:field="*{id}"/>	
     		     			
			     <div class="row" th:unless="${consulta.novo}">
			     	<div class="form-group  col-lg-6">	
			     		<label class="sd-label">Paciente: </label>	     		
			     		<label class="sd-detalhada" th:text="${consulta.paciente.nome}"></label>
			     	</div> 
			     	<div class="form-group  col-lg-6">	
			     		<label class="sd-label">Médico: </label>	     		
			     		<label class="sd-detalhada" th:text="${consulta.medico.nome}"></label>
			     	</div>  	     	
				</div>
			    
		     
				<div class="row" th:if="${consulta.novo}">
					<div class="form-group  col-sm-12 sd-required" saude:classforerror="paciente.id">
						<label class="control-label" for="paciente">Paciente</label>
						<div class="input-group">
							<input id="paciente" type="text" readonly="readonly" class="form-control" placeholder="Clique na lupa para pesquisar o Paciente"/>
							<input id="idPaciente" type="hidden" th:field="*{idPaciente}"/>
							<span class="input-group-btn">
							  <button class="btn  btn-default  js-tooltip" type="button" title="Pesquisa avançada" data-toggle="modal" data-target="#pesquisaRapidaPacientes">
							  	<i class="glyphicon  glyphicon-search"></i>
							  </button>
							</span>
					    </div>
					</div>                	
				</div>
				
				<div class="row" th:if="${consulta.novo}">
					<div class="form-group  col-sm-12 sd-required" saude:classforerror="medico.id">
						<label class="control-label" for="medico">Médico</label>
						<div class="input-group">
	      					<input id="medico" type="text" readonly="readonly" class="form-control" placeholder="Clique na lupa para pesquisar o Médico"/>
							<input id="idMedico" type="hidden" th:field="*{idMedico}"/>      					
	      					<span class="input-group-btn">
						        <button class="btn  btn-default  js-tooltip" type="button" title="Pesquisa avançada" data-toggle="modal" data-target="#pesquisaRapidaMedicos">
						        	<i class="glyphicon  glyphicon-search"></i>
						        </button>
	    					</span>
	   					</div>    
					</div>    					
				</div>
				
				<div class="row">
					<div class="form-group col-sm-12 sd-required" saude:classforerror="descricao">
						<label class="control-label" for="descricao">Descrição</label>						
						<textarea class="form-control" rows="5" id="descricao" th:field="*{descricao}" th:disabled="${!consulta.novo}"></textarea>						
					</div>
				</div>	
			
         		<button th:if="${consulta.novo}" type="submit" class="btn  btn-primary">Salvar</button>  
                
                <div class="aw-footer-disclaimer" th:unless="${consulta.novo}">                
                	<label>Data e Horário da Consulta: </label>
		     		<label th:text="${{consulta.dataCriacao}}"></label>
                </div>
			</form>
	</div>

	<th:block th:replace="pesquisas/rapida/pesquisa-rapida-pacientes :: pesquisaRapidaPacientes"></th:block>
	<th:block th:replace="pesquisas/rapida/pesquisa-rapida-medicos :: pesquisaRapidaMedicos"></th:block>
</section>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
	<script th:src="@{/javascripts/paciente-pesquisa-rapida.js}"></script>
	<script th:src="@{/javascripts/medico-pesquisa-rapida.js}"></script>
	<script>
	$(function() {
		$('.js-aba-triagem a').click(function (e) {
			e.preventDefault();
			$(this).tab('show');
		});
	});
	</script>
	
</th:block>
</html>
