/*
######################
# UTILIDADES
######################
*/
.bw-glyphicon-large {
	font-size: 18px;
}

.sd-required > .control-label:after {
	content: "*";
}


/*
######################
# COMPONENTES
######################
*/

/* Field Action */
.bw-field-action {
	display: flex;
}

.bw-field-action__icon {
	margin: 6px 0 0 5px;
}



/* Tabela Simples */
.bw-tabela-simples {
	margin-top: 15px;
}

.bw-tabela-simples table tr th {
	border-bottom-width: 1px;
}

.bw-tabela-simples table tr td {
    border-top: none;
    border-bottom: 1px solid #e7eaec;
    padding: 10px;
    vertical-align: middle;
}

/*
###################
# treta
###################
*/

.checkbox input[type="checkbox"]:checked + input + label::after {
    font-family: 'FontAwesome';
    content: "\f00c"; 
}

/*
###################
# PÁGINAS DO SISTEMA
###################
*/

/* Colunas comuns */
.table-col-acoes {
	width: 80px;
}

/* Colunas - Pesquisa de Pacientes */
.table-pacientes-col-nome {
	
}

.table-pacientes-col-cpf {
	width: 180px;
	text-align: right;
}

.table-pacientes-col-telefone {
	width: 200px;
	text-align: right;
}

.table-pacientes-col-cidade-estado {
	width: 200px;
	text-align: right;	
}

.sds-logo {
    width: 110px;
    height: 28px;
	position: relative;
	overflow-y: auto;
    margin-top: -9px;
    margin-left: 10px;
    margin-right: -10px;
}

.usuario-logado {
	font-weight: bolder
}

/* Colunas - Pesquisa de usuários */
.table-triagem-col {
	width: 30px;
	text-align: center;
}

.sd-margin {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  font-weight: bold;	
}

.sd-triagem-etapa {
  font-weight: bold;
  text-align: center;	
}

.sd-home {
	margin-top: 250px;
    font-weight: bold;	
    color: #555;
    font-family: 'FontAwesome';
    
	
}

.sd-detalhada {
	 font-size: 16px;
	 color: #777777;
}

.sd-label{
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

