<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:data="http://www.thymeleaf.org/extras/data-attribute"
      xmlns:saude="http://tcc.saude"      
      layout:decorate="~{layout/home}">
<head>
    <title>Pesquisa de Triagens</title>
</head>
<body>
<section layout:fragment="conteudo">

    <div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10">
					<h1>Pesquisa de Triagens</h1>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="GET" th:object="${triagemFilter}" th:action="@{/triagens}">
			<div class="row">
				<div class="form-group  col-sm-6">
					<label class="control-label" for="nome">Nome</label>
					<input type="text" class="form-control" id="nome" autofocus="autofocus" th:field="*{namePaciente}"/>
				</div>
				<div class="form-group  col-sm-6">
					<label for="cpf" class="control-label">CPF</label>
					<input type="text" class="form-control cpf" id="cpf" th:field="*{cpfPaciente}"/>
				</div>
			</div>
			
			
			<div class="row">
				<div class="form-group  col-sm-6">
					<label for="dataCriacaoInicial">Data de criação</label>
					<div class="form-inline">
						<input type="text" class="form-control  aw-form-control-inline-sm  js-date" id="dataCriacaoInicial" 
							th:field="*{desde}" autocomplete="off"/>
						<label for="dataCriacaoFinal" class="aw-form-label-between">até</label>
						<input type="text" class="form-control  aw-form-control-inline-sm  js-date" id="dataCriacaoInicial" 
							th:field="*{ate}" autocomplete="off"/>
					</div>
				</div>
			</div>
			<button type="submit" class="btn  btn-primary">Pesquisar</button>
		</form>

		<div class="table-responsive  bw-tabela-simples">
        	<table class="table  table-hover">
	            <thead>
	            	<tr>
	                	<th>
	                		<saude:order page="${pagina}" field="p.nome" text="Paciente"/>
	                	</th>
	                	<th> CPF</th>
	                	<th>Data de criação</th>	                	
	                	<th>Usuário</th>
						<th class="table-col-acoes"></th>

					</tr>
				</thead>
			
	            <tbody>
					<tr th:each="triagem : ${pagina.conteudo}">
						<td th:text="${triagem.paciente.nome}"></td>
						<td th:text="${triagem.paciente.cpf}"></td>
						<td th:text="${{triagem.dataCriacao}}"></td>
						<td th:text="${triagem.usuario.nome}"></td>
	                 	<td class="text-center">
							<a class="btn  btn-link  btn-xs" type="" title="Informacao" data-toggle="modal" 
								data-target="#pesquisaDetalhadaTriagem">
								<i class="glyphicon glyphicon-option-horizontal"></i>
							</a>
						</td>
	                </tr>
	                
	                <tr th:if="${pagina.vazia}">
	                	<td colspan="4">Nenhuma Triagem encontrada</td>
	                </tr>
	             </tbody>
         	</table>
    	 </div>
    	 
    	 <saude:pagination page="${pagina}"/>
	</div>
	
		<th:block th:replace="pesquisas/rapida/pesquisa-detalhada-triagem :: pesquisaDetalhadaTriagem"></th:block>
	
</section>
</body>

</html>