<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<div class="modal  fade" id="pesquisaDetalhadaTriagem" tabindex="-1" role="dialog" th:fragment="pesquisaDetalhadaTriagem">
<div class="modal-dialog"> 
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3 class="modal-title"> Triagem Detalhada</h3>
  </div>
  
	<div class="modal-body">
		<div class="col-sm-12">
				<h4  class="modal-title">Paciente</h4>
			</div>
		
	     <div class="tabbable"> 
	         <ul class="nav nav-tabs">
	             <li class="active"><a href="#primeiraEtapa" data-toggle="tab">Primeira Etapa</a></li>
	             <li><a href="#segundaEtapa" data-toggle="tab">Segunda Etapa</a></li>
	         </ul>
	         <div class="tab-content">
	             <div class="tab-pane active" id="primeiraEtapa">
	             	<div class="table-responsive bw-tabela-simples">		
						<div class="col-sm-6">	
		        			<table class="table table-bordered">
								<thead>
									<tr>
										<th class="sd-triagem-etapa col-sm-2"> # </th>            				            				
										<th class="">Sintomas </th>
									</tr>
								</thead>								
								<tbody>						
									<tr>
										<td class="sd-triagem-etapa ">1</td>
										<td>											
											<input type="checkbox" id="calafrio" disabled="disabled"/><label>Calafrios</label>
										</td>
									</tr>
									<tr>
										<td class="sd-triagem-etapa">2</td>
										<td>											
											<input type="checkbox" id="articulacao" disabled="disabled" /> <label>Dor nas Articulações</label>
										</td>
									</tr>
									<tr>
										<td class="sd-triagem-etapa ">3</td>
										<td>											
											<input type="checkbox" id="diabetes" disabled="disabled"/> <label>Diabetes</label>
										</td>
									</tr>	
									<tr>
										<td class="sd-triagem-etapa ">4</td>
										<td>											
											<input type="checkbox" id="dorCabeca" disabled="disabled"/> <label>Dor na Cabeça</label>
										</td>
									</tr>
									<tr>
										<td class="sd-triagem-etapa">5</td>
										<td>											
											<input type="checkbox" id="dorCorpo" disabled="disabled"/><label>Dor no Corpo</label>
										</td>
									</tr>
																														
								</tbody>
							</table>  
						</div>
						
						<div class="col-sm-6">	
		        			<table class="table table-bordered">
								<thead>
									<tr>
										<th class="sd-triagem-etapa col-sm-2"> # </th>            				            				
										<th class="">Sintomas </th>
									</tr>
								</thead>								
								<tbody>	
									<tr>
										<td class="sd-triagem-etapa ">6</td>
										<td>											
											<input type="checkbox" id="renal" disabled="disabled" /> <label>Dor Renal</label>
										</td>
									</tr>					
									<tr>
										<td class="sd-triagem-etapa">7</td>
										<td>											
											<input type="checkbox" id="hepatite" disabled="disabled" /> <label>Hepatite</label>
										</td>
									</tr>
									<tr>
										<td class="sd-triagem-etapa">8</td>
										<td>											
											<input type="checkbox" id="hipertensao" disabled="disabled" /> <label>Hipertensão</label>
										</td>
									</tr>
									<tr>
										<td class="sd-triagem-etapa">9</td>
										<td>											
											<input type="checkbox" id="sonolencia" disabled="disabled"/> <label>Sonolência Excessiva</label>
										</td>
									</tr>											
								</tbody>
							</table>
						</div>	
				</div>
	             </div>
	             
	             
	             <div class="tab-pane" id="segundaEtapa">
	             	<div class="table-responsive bw-tabela-simples">		
						<div class="col-sm-12">	
							<table class="table table-bordered">
								<thead>
									<tr>
										<th class="table-triagem-col">
											<label class="sd-margin "> # </label>				            		
				            			</th>
										<th class="">Sintoma</th>
										<th class="">Descrição</th>
									</tr>
								</thead>
								
								<tbody>
									<tr>
										<td class="sd-margin ">1</td>
										<td>
											<div class="">
												<input type="checkbox" id="alergia" disabled="disabled"/> 
												<label>Alergia</label>
											</div>
										</td>
										<td><input type="text" class="form-control" id="alergiaEx" disabled="disabled" /></td>
									</tr>
									<tr>
										<td class="sd-margin ">2</td>
										<td>
											<div class="">
												<input type="checkbox" id="cancer" disabled="disabled"/> 
												<label>Câncer</label>
											</div>
										</td>
										<td><input type="text" class="form-control" id="cancerEx" disabled="disabled"/> </td>
									</tr>
									<tr>
										<td class="sd-margin ">3</td>
										<td>
											<div class="">
												<input type="checkbox" id="deficiencia" disabled="disabled"/>											
												<label>Deficiência</label>
											</div>
										</td>
										<td><input type="text" class="form-control" id="deficienciaEx"  disabled="disabled"/> </td>
									</tr>
									<tr>
										<td class="sd-margin ">4</td>
										<td>
											<div class="">
												<input type="checkbox" id="dst" disabled="disabled"/>											
												  
												<label>Doença Sexualmente Transmissível</label>
											</div>
										</td>
										<td><input type="text" class="form-control" id="dstEx"  disabled="disabled"/>  </td>
									</tr>
									<tr>
										<td class="sd-margin ">5</td>
										<td>
											<div class="">
												<input type="checkbox" id="febre" disabled="disabled"/>																		  
												<label>Febre</label>
											</div>
										</td>
										<td><input type="text" class="form-control" id="temperaturaFebre"  disabled="disabled" /></td>
									</tr>
									<tr>
										<td class="sd-margin ">6</td>
										<td>
											<div class="">
												<input type="checkbox" id="pressao" disabled="disabled"/>														  
												<label>Pressão</label>
											</div>
										</td>
										<td><input type="text" class="form-control" id="pressaoEx"  disabled="disabled"/></td>
									</tr>
									<tr>
										<td class="sd-margin ">7</td>
										<td>
											<div class="">
												<input type="checkbox" id="problemaCardiaco" disabled="disabled" />													  
												<label>Problemas Cardíacos</label>
											</div>
										</td>
										<td><input type="text" class="form-control" id="problemaCardiacoEx"  disabled="disabled"></td>
									</tr>
									<tr>
										<td class="sd-margin ">8</td>
										<td>
											<div class="">
												<input type="checkbox" id="problemaNeurologico" disabled="disabled"/>												  
												<label>Problemas Neurológicos</label>
											</div>
										</td>
										<td><input type="text" class="form-control" id="problemaNeurologicoEx"  disabled="disabled"></td>
									</tr>
									<tr>
										<td class="sd-margin ">9</td>
										<td>
											<div class="">
												<input type="checkbox" id="problemaRespiratorio" disabled="disabled" />												  
												<label>Problemas Respiratórios</label>
											</div>
										</td>
										<td><input type="text" class="form-control" id="problemaRespiratorioEx"  disabled="disabled" ></td>
									</tr>
									<tr>
										<td class="sd-margin ">10</td>
										<td>
											<div class="">
												<input type="checkbox" id="medicacao" disabled="disabled" />											  
												 <label>Faz uso de algum Medicamento</label>
											</div>
										</td>
										<td><input type="text" class="form-control" id="medicacaoEx"  disabled="disabled" ></td>
									</tr>
									<tr>
										<td class="sd-margin ">11</td>
										<td>
											<div class="">
												<input type="checkbox" id="outros" disabled="disabled" />	 
												<label>Outros Sintomas</label>
											</div>
										</td>
										<td><input type="text" class="form-control" id="outrosEx"  disabled="disabled"></td>
									</tr>
									
													
								</tbody>
							</table>
						</div>
					</div> 
	             </div>
	         </div>
	     </div>
	</div>
   
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</div>  
</div>
</div>


</html>